
<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4"></span>
    </a>
      <a routerLink="/home" routerLinkActive="active" aria-current="page">Home</a>&nbsp;
      <a routerLink="/register" routerLinkActive="active" aria-current="page">Sign up</a>&nbsp;
      <a routerLink="/login" routerLinkActive="active" aria-current="page">Login</a>&nbsp;
      <a routerLink="/offers" routerLinkActive="active" aria-current="page">All our offers</a>&nbsp;
      <a routerLink="/contact" routerLinkActive="active" aria-current="page">Contact us</a>&nbsp;
  </header>
</div>

<router-outlet></router-outlet>
